.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40; /* Dark background */
  color: white;
}

.navbar-left {
  display: flex;
  flex-direction: column;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .btn {
  margin-left: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h5 {
  margin: 0;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
